<h1>Ticket types</h1>
<div id="ticket_types">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Color Mapserver</th>
        <th>Color Hex</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @ticket_types.each do |ticket_type| %>
        <tr>
          <td><%= ticket_type.id %></td>
          <td><%= ticket_type.description %></td>
          <td><%= ticket_type.color_mapserv %></td>
          <td><%= ticket_type.color_hex %></td>
          <td>
            <%= edit_link('Edit', edit_ticket_type_path(ticket_type)) %>
            &nbsp;
            <%= delete_link('Delete', ticket_type, "Delete ticket type?") %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<%= new_link "New ticket type", new_ticket_type_path %>
<div class="pt-3">
 <%= link_to "Back to system settings", system_settings_path %>
</div>
