<h1>Ticket types</h1>
<div id="ticket_types">
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Description</th>
        <th>Color Mapserver</th>
        <th>Color Hex</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @ticket_types.each do |ticket_type| %>
        <tr>
          <td><%= ticket_type.id %></td>
          <td><%= ticket_type.description %></td>
          <td><%= ticket_type.color_mapserv %></td>
          <td><%= ticket_type.color_hex %></td>
          <td>
            <%= edit_link(edit_ticket_type_path(ticket_type), 'Edit') %>
            &nbsp;
            <%= delete_link(ticket_type, 'Delete',  "Delete ticket type?") %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<%= link_to "New ticket type", new_ticket_type_path %>
