<h1><%= t('.ticket_types') %></h1>
<div id="ticket_types">
  <table class="table">
    <thead>
      <tr>
        <th><%= t('attributes.id') %></th>
        <th><%= t('ticket_types.description') %></th>
        <th><%= t('ticket_types.color_mapserv') %></th>
        <th><%= t('ticket_types.color_hex') %></th>
        <th><%= t('attributes.action') %></th>
      </tr>
    </thead>
    <tbody>
      <% @ticket_types.each do |ticket_type| %>
        <tr>
          <td><%= ticket_type.id %></td>
          <td><%= ticket_type.description %></td>
          <td><%= ticket_type.color_mapserv %></td>
          <td><%= ticket_type.color_hex %></td>
          <td>
            <%= edit_link(t('ticket_types.dedit'), edit_ticket_type_path(ticket_type)) %>
            &nbsp;
            <%= delete_link(t('ticket_types.delete'), ticket_type, t('ticket_types.delete_confirmation')) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= new_link t('ticket_types.new_ticket_type'), new_ticket_type_path %>
