<h1>System Settings</h1>
<table class="table">
  <thead>
    <tr>
      <th>Domain table</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        Feature accuracy classes
      </td>
      <td>
        <%= view_link 'Manage feature accuracy classes', accuracy_classes_path %>
        <%= new_link "New feature accuracy class", new_accuracy_class_path, 'visually-hidden' %>
      </td>
    </tr>
    <tr>
      <td>
        Feature classes
      </td>
      <td>
        <%= view_link 'Manage feature classes', feature_classes_path %>
        <%= new_link "New feature class", new_feature_class_path, 'visually-hidden' %>
      </td>
    </tr>
    <tr>
      <td>
        Feature statuses
      </td>
      <td>
        <%= view_link 'Manage feature statuses', feature_statuses_path %>
        <%= new_link "New feature status", new_feature_status_path, 'visually-hidden' %>
      </td>
    </tr>
    <tr>
      <td>
        Ticket types
      </td>
      <td>
        <%= view_link 'Manage ticket types', ticket_types_path %>
        <%= new_link "New ticket type", new_ticket_type_path, 'visually-hidden' %>
      </td>
    </tr>
  </tbody>
</table>
