<h1><%= t('owners.owner_details') %>: <%= owner.name %></h1>

<h2><%= t('datasets.datasets') %></h2>

<% if owner.datasets.any? %>
  <table class="table">
    <thead>
      <tr>
        <th><%= t('datasets.name') %></th>
        <th><%= t('datasets.source') %></th>
        <th><%= t('datasets.enabled') %></th>
        <th><%= t('datasets.actions') %></th>
      </tr>
    </thead>
    <tbody>
      <% owner.datasets.each do |dataset| %>
        <tr>
          <td>
            <%= dataset.name %>
          </td>
          <td class="text-break">
            <%= dataset.source_dataset %>
          </td>
          <td>
            <%= to_yes_no dataset.enabled %>
          </td>
          <td>
            <%= view_link(t('datasets.view'), owner_dataset_path(owner, dataset)) %>
            &nbsp;
            <%= edit_link(t('datasets.dedit'), edit_owner_dataset_path(owner, dataset)) %>
            &nbsp;
            <%= ticket_link(t('datasets.test_ticket'), owner_dataset_test_ticket_path(owner, dataset)) %>
            &nbsp;
            <%= delete_link(t('datasets.delete'), [owner, dataset], t('datasets.confirm_delete')) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>
    <%= t('datasets.no_datasets') %>
  </p>
<% end %>
<span>
  <%= new_link t('datasets.dnew'), new_wizard_owner_dataset_path(@owner) %>
</span>
<span>
  <%=
      link_to service_area_owner_path(owner_id: @owner), class: 'text-body' do
          content_tag(:i, '', title: t('service_area.title'), class: 'ms-2 bi-map', style: 'font-size: 2rem;') +
        content_tag(:span, t('service_area.define'), class: 'ms-2 me-2')
      end
  %>
</span>

<h2 class="pt-4"><%= t('service_authentication_configurations.index.title') %></h2>
<% if owner.service_authentication_configurations.any? %>
  <table class="table">
    <tr>
      <th><%= t('attributes.name') %></th>
      <th><%= t('service_authentication_configurations.index.type') %></th>
      <th><%= t('service_authentication_configurations.index.endpoint') %></th>
      <th><%= t('service_authentication_configurations.index.associated_datasets') %></th>
      <th><%= t('attributes.actions') %></th>
    </tr>
    <% owner.service_authentication_configurations.each do |sac| %>
      <tr>
        <td>
          <%= sac.name %>
        </td>
        <td>
          <%= sac&.authentication_type&.name %>
        </td>
        <td class="text-break">
          <%= sac.auth_url %>
        </td>
        <td class="text-break">
          <%= sac.datasets.map(&:name).join(', ') %>
        </td>
        <td>
          <%= view_link(t('service_authentication_configurations.actions.view'), owner_service_authentication_configuration_path(owner, sac)) %>
          &nbsp;
          <%= edit_link(t('service_authentication_configurations.actions.edit'), edit_owner_service_authentication_configuration_path(owner, sac)) %>
          &nbsp;
          <%= test_health_link(t('service_authentication_configurations.actions.verify'), verify_owner_service_authentication_configuration_path(owner, sac)) %>
          &nbsp;
          <%= delete_link(t('service_authentication_configurations.actions.delete'), [owner, sac], t('service_authentication_configurations.delete_confirmation')) %>
        </td>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>
    <%= t('service_authentication_configurations.index.none') %>
  </p>
<% end %>
<span>
  <%= new_link t('service_authentication_configurations.actions.new'),
    new_owner_service_authentication_configuration_path(@owner) %>
</span>
