<h1>Data Provider: <%= owner.name %></h1>

<h2>Datasets</h2>

<% if owner.datasets.any? %>
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Source</th>
      <th>Actions</th>
    </tr>
    <% owner.datasets.each do |dataset| %>
      <tr>
        <td>
          <%= dataset.name %>
        </td>
        <td>
          <%= dataset.source_dataset %>
        </td>
        <td>
          <%= view_link('View', owner_dataset_path(owner, dataset)) %>
          &nbsp;
          <%= edit_link('Edit', edit_owner_dataset_path(owner, dataset)) %>
          &nbsp;
          <%= ticket_link('Test Ticket', owner_dataset_test_ticket_path(owner, dataset)) %>
          &nbsp;
          <%= delete_link('Delete', [owner, dataset], "Delete this dataset") %>
        </td>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>
    No datasets yet.
  </p>
<% end %>

<%= new_link 'New dataset', new_owner_dataset_path(@owner) %>
