<h1><%= t('owners.data_providers') %></h1>
<div id="owners">
  <table class="table">
    <thead>
      <tr>
        <th><%= t('attributes.id') %></th>
        <th><%= t('attributes.name') %></th>
        <th><%= t('users.index.users') %></th>
        <th class="text-end"><%= t('.dataset_count') %></th>
        <th class="text-center"><%= t('attributes.action') %></th>
      </tr>
    </thead>
    <tbody>
      <% @owners.each do |owner| %>
        <tr>
          <td><%= owner.id %></td>
          <td><%= owner.name %></td>
          <td><%= owner.users.map(&:email_address).join(', ') %></td>
          <td class="text-end"><%= owner.datasets.count %></td>
          <td class="text-center">
            <%= view_link t('owners.view'), owner_path(owner) %>
            <% if policy(owner).edit? %>
              &nbsp;
              <%= edit_link t('owners.edit_data_provider_link'), edit_owner_path(owner) %>
              &nbsp;
              <%= users_link t('owners.manage_users'), owner_users_path(owner) %>
            <% end %>
            <% if policy(owner).destroy? %>
              &nbsp;
              <%= delete_link t('owners.delete_this_data_provider'), owner,
                t('owners.delete_data_provider_confirmation') %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% if policy(Owner).new? %>
  <p>
  <%= new_link t('owners.new_data_provider'), new_owner_path %>
  </p>
<% end %>
