<h1>Data Providers</h1>
<div id="owners">
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @owners.each do |owner| %>
        <tr>
          <td><%= owner.id %></td>
          <td><%= owner.name %></td>
          <td>
            <%= link_to 'View', owner_path(owner) %>
            <% if policy(owner).edit? %>
              <%= link_to 'Users', owner_users_path(owner) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% if policy(Owner).new? %>
  <p>
  <%= link_to "New data provider", new_owner_path %>
  </p>
<% end %>
