<h1>Data Providers</h1>
<div id="owners">
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @owners.each do |owner| %>
        <tr>
          <td><%= owner.id %></td>
          <td><%= owner.name %></td>
          <td>
            <%= view_link 'View', owner_path(owner) %>
            <% if policy(owner).edit? %>
              &nbsp;
              <%= edit_link 'Edit data provider', edit_owner_path(owner) %>
              &nbsp;
              <%= users_link 'Manage Users', owner_users_path(owner) %>
            <% end %>
            <% if policy(owner).destroy? %>
              &nbsp;
              <%= delete_link "Delete this data provider", owner,
                'Delete this data provider?' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% if policy(Owner).new? %>
  <p>
  <%= new_link "New data provider", new_owner_path %>
  </p>
<% end %>
