<h1><%= t('service_area.title') %> <%= @owner&.name %></h1>

<p><%= t('service_area.description') %></p>

<div id="map" class="leaflet-container" style="min-height: 500px">
  <div data-controller="service-area-map"></div>
</div>

<%= simple_form_for(@owner, url: service_area_owner_path(@owner),
                    method: :post,
                    data: { turbo: false }) do |f| %>

  <div id="polygon"></div>

  <%= f.input :service_area, as: :hidden %>

  <div class="form-actions">
    <%= f.button :submit, t('service_area.submit'), class: 'btn btn-primary' %>
  </div>
<% end %>

<br>
<%= simple_form_for(@owner, url: delete_service_area_owner_path(@owner),
                    method: :post,
                    data: { turbo: true }) do |f| %>


  <div class="form-actions">
    <%= f.button :submit, t('service_area.delete_service_area'), class: 'btn btn-danger',
      data: { turbo: true, turbo_confirm: t('service_area.confirm_delete') } %>
  </div>
<% end %>

<div class="pt-3">
  <%= link_to t('attributes.back_to_data_provider'), owner_path(@owner) %>
</div>
