<h1>
  <%= dataset.owner&.name %>: <%= dataset.name %>
  <span class="float-end">
    <%= edit_link(t('.edit'), edit_owner_dataset_path(@owner, @dataset)) %>
    <%= ticket_link(t('.test_ticket'), owner_dataset_test_ticket_path(@owner, @dataset)) %>
    <%= test_health_link(t('datasets.verify_metadata.button_text'), verify_metadata_owner_dataset_path(@owner, @dataset)) %>
    <%= delete_link t('.delete_dataset'), [@owner, @dataset], t('.delete_dataset_confirm') %>
  </span>
</h1>
<div class="container">
  <div class="row">
    <div class="col-3">
      <%= t('.name_label') %>:
    </div>
    <div class="col">
      <%= dataset.name %>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <%= t('.source_dataset_label') %>:
    </div>
    <div class="col text-break">
      <%= dataset.source_dataset %>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      Service Authentication Configuration:
    </div>
    <div class="col text-break">
      <%= dataset&.service_authentication_configuration&.label || 'None' %>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <%= t('.source_sql_label') %>:
    </div>
    <div class="col">
      <pre class="prettyprint">
      <%= dataset.source_sql %>
      </pre>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <%= t('.source_co_label') %>:
    </div>
    <div class="col">
      <%= dataset.source_co %>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <%= t('.source_srs_label') %>:
    </div>
    <div class="col">
      <%= dataset.source_srs %>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <%= t('.cache_whole_dataset_label') %>:
    </div>
    <div class="col">
      <%= to_yes_no dataset.cache_whole_dataset %>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <%= t('.enabled_label') %>:
    </div>
    <div class="col">
      <%= to_yes_no dataset.enabled %>
    </div>
  </div>
</div>
