<h1>
  <%= dataset.owner&.name %>: <%= dataset.name %>
  <span class="float-end">
    <%= edit_link('Edit', edit_owner_dataset_path(@owner, @dataset)) %>
    <%= ticket_link('Test Ticket', owner_dataset_test_ticket_path(@owner, @dataset)) %>
    <%= delete_link "Delete this dataset", [@owner, @dataset], 'Delete this dataset?' %>
  </span>
</h1>
<div class="container">
  <div class="row">
    <div class="col-2">
      Name:
    </div>
    <div class="col">
      <%= dataset.name %>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      Source Dataset:
    </div>
    <div class="col text-break">
      <%= dataset.source_dataset %>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      Source SQL:
    </div>
    <div class="col">
      <pre class="prettyprint">
      <%= dataset.source_sql %>
      </pre>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      Source CO:
    </div>
    <div class="col">
      <%= dataset.source_co %>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      Source SRS:
    </div>
    <div class="col">
      <%= dataset.source_srs %>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      Cache whole dataset?:
    </div>
    <div class="col">
      <%= dataset.cache_whole_dataset %>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      Enabled?:
    </div>
    <div class="col">
      <%= dataset.enabled %>
    </div>
  </div>
</div>
