<% tickets = @dataset.test_tickets %>
<% if tickets.size.positive? %>
  <div class="alert alert-secondary" role="alert">
    Test Tickets
  </div>

  <table class="table caption-top">
    <thead>
      <tr>
        <th>Ticket No.</th>
        <th>Status</th>
        <th>Feature Count</th>
        <th>Attempt</th>
        <th>Publish Date</th>
      </tr>
    </thead>
  <% end %>
  <% tickets.each do |t| %>
    <tbody>
      <tr>
        <td><%= report_link(t.ticket_no) %></td>
        <td><%= t.status&.sub(/: \d+/, '') || 'PENDING' %></td>
        <td><%= t.feature_count %></td>
        <td><%= t.attempt %></td>
        <td><%= sdt t.publish_date %></td>
      </tr>
    </tbody>
  <% end %>
  <% if tickets.size.positive? %>
    </table>
  <% end %>
