<% tickets = @dataset.test_tickets %>
<% if tickets.size.positive? %>
  <div class="alert alert-secondary" role="alert">
    <%= t('.test_tickets') %>
  </div>

  <table class="table caption-top">
    <thead>
      <tr>
        <th><%= t('.ticket_no') %></th>
        <th><%= t('.status') %></th>
        <th><%= t('.feature_count') %></th>
        <th><%= t('.attempt') %></th>
        <th><%= t('.publish_date') %></th>
      </tr>
    </thead>
  <% end %>
  <% tickets.each do |t| %>
    <tbody>
      <tr>
        <td><%= report_link(t.ticket_no) %></td>
        <td class="text-break"><%= t.status&.sub(/: \d+/, '') || t('.pending') %></td>
        <td><%= t.feature_count %></td>
        <td><%= t.attempt %></td>
        <td><%= sdt t.publish_date %></td>
      </tr>
    </tbody>
  <% end %>
  <% if tickets.size.positive? %>
    </table>
  <% end %>

