<h1><%= t('.new_dataset_for', name: @owner.name) %></h1>

<%= simple_form_for(@dataset, url: @url, data: { turbo: false }) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <p><%= t('.map_data_attributes') %></p>

  <div class="row">
    <div class="col-6 col-md-8 col-sm-12">
      <div class="form-inputs">
        <%= f.input :name, as: :string %>
          <div class='mb-1'><%= t('.source_dataset_label') %>:</div>
           <%= f.hidden_field :source_dataset %>
           <p><%= f.object.source_dataset %></p>
          <% if @layers && @layers.any? %>
            <% if f.object.layer_name.present? %>
              <div class='mb-1'><%= t('.layer_name_label') %>:</div>
              <%= f.hidden_field :layer_name %>
              <p><%= f.object.layer_name %></p>
            <% else %>
              <%= f.input :layer_name, collection: @layers %>
            <% end %>
          <% end %>
          <% if @options && @options.any? %>
            <div class="row">
              <div class="col">
                <strong><%= t('.your_data') %></strong>
              </div>
              <div class="col">
                <strong><%= t('.fuzionview_schema_attribute') %></strong>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <%= f.input :geometry_name, collection: @geomFields %>
              </div>
              <div class="col d-flex align-items-center">
                <%= t('.geometry') %>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <%= f.input :provider_fid, collection: @options %>
              </div>
              <div class="col d-flex align-items-center">
                <%= t('.provider_fid') %>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <%= f.input :feature_class, collection: @options %>
              </div>
              <div class="col d-flex align-items-center">
                <%= t('.feature_class') %>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <%= f.input :status, collection: @options %>
              </div>
              <div class="col d-flex align-items-center">
                <%= t('.status') %>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <%= f.input :size, collection: @options %>
              </div>
              <div class="col d-flex align-items-center">
                <%= t('.size') %>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <%= f.input :depth, collection: @options %>
              </div>
              <div class="col d-flex align-items-center">
                <%= t('.depth') %>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <%= f.input :accuracy_class, collection: @options %>
              </div>
              <div class="col d-flex align-items-center">
                <%= t('.accuracy_value') %>
              </div>
            </div>
            <div class="row">
              <div class="col d-flex align-items-center">
                <%= f.input :description, collection: @options %>
              </div>
              <div class="col d-flex align-items-center">
                <%= t('.description') %>
              </div>
            </div>
        <% end %>
        <%= f.input :source_srs, as: :string, hint: t('.source_srs_hint') %>
      </div>
    </div>
  </div>
  <div class="form-actions">
    <%= f.button :submit, t('.submit'), class: 'btn btn-primary' %>
  </div>
<% end %>
<br>

<div>
  <%= link_to t('attributes.back_to_data_provider'), owner_path(@dataset.owner_id) %>
</div>

