<h1><%= t('.new_dataset_for', name: @owner.name) %></h1>

<%= simple_form_for(@dataset, url: @url, data: { turbo: false }) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <p><%= t('.map_data_attributes') %></p>

  <div class="row">
    <div class="col-6 col-md-8 col-sm-12">
      <div class="form-inputs">
        <%= f.input :name, as: :string %>
        <div class='mb-1'>Service Authentication:</div>
        <p><%= f.object&.service_authentication_configuration&.name || 'None' %></p>
        <%= f.hidden_field :credential_id %>
          <div class='mb-1'><%= t('.source_dataset_label') %>:</div>
           <%= f.hidden_field :source_dataset %>
           <p><%= f.object.source_dataset %></p>
          <% if @layers && @layers.any? %>
            <% if f.object.layer_name.present? %>
              <div class='mb-1'><%= t('.layer_name_label') %>:</div>
              <%= f.hidden_field :layer_name %>
              <p><%= f.object.layer_name %></p>
            <% else %>
              <%= f.input :layer_name, collection: @layers %>
            <% end %>
          <% end %>
          <% if @options && @options.any? %>
            <div class="row">
              <div class="col">
                <strong><%= t('.your_data') %></strong>
              </div>
              <div class="col">
                <strong><%= t('.fuzionview_schema_attribute') %></strong>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <%= f.input :geometry_name, collection: @geomFields %>
              </div>
              <div class="col d-flex align-items-center">
                <%= t('.geometry') %>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <%= f.input :provider_fid, collection: @options, hint: t('.provider_fid_hint') %>
              </div>
              <div class="col d-flex align-items-center">
                <%= t('.provider_fid') %>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <% feature_class_tooltip = link_to 'feature class values', '#', 
                  data: {'bs-toggle': 'tooltip',
                         'bs-title': "Valid feature class values are #{FeatureClass.all.map(&:id).sort.join(', ')}" } %>
                <%= f.input :feature_class, collection: @options,
                  hint: t('.feature_class_hint_html', tooltip: feature_class_tooltip) %>
              </div>
              <div class="col d-flex align-items-center">
                <%= t('.feature_class') %>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <% feature_status_tooltip = link_to 'feature status values', '#', 
                  data: {'bs-toggle': 'tooltip',
                         'bs-title': "Valid feature status values are #{FeatureStatus.all.map(&:id).sort.join(', ')}" } %>
               <%= f.input :status, collection: @options,
                 hint: t('.feature_status_hint_html', tooltip: feature_status_tooltip) %>
              </div>
              <div class="col d-flex align-items-center">
                <%= t('.status') %>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <%= f.input :size, collection: @options %>
              </div>
              <div class="col d-flex align-items-center">
                <%= t('.size') %>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <%= f.input :depth, collection: @options %>
              </div>
              <div class="col d-flex align-items-center">
                <%= t('.depth') %>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <% accuracy_class_tooltip = link_to 'accuracy values', '#', 
                  data: {'bs-toggle': 'tooltip',
                         'bs-title': "Valid accuracy class values are #{AccuracyClass.all.map(&:id).sort.join(', ')}" } %>
                <%= f.input :accuracy_class, collection: @options,
                 hint: t('.accuracy_class_hint_html', tooltip: accuracy_class_tooltip) %>
              </div>
              <div class="col d-flex align-items-center">
                <%= t('.accuracy_value') %>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <%= f.input :description, collection: @options %>
              </div>
              <div class="col d-flex align-items-center">
                <%= t('.description') %>
              </div>
            </div>
            <% if @dataset.esrijson? %>
              <div class="row">
                <div class="col">
                  <%= f.input :order_by, collection: @options, default: 'OBJECTID', hint: t('.order_by_hint') %>
                </div>
                <div class="col d-flex align-items-center">
                  <%= t('.order_by') %>
                </div>
              </div>
            <% end %>
        <% end %>
        <%= f.input :source_srs, as: :string, hint: t('datasets.form.source_srs_hint') %>
      </div>
    </div>
  </div>
  <div class="form-actions">
    <%= f.button :submit, t('.submit'), class: 'btn btn-primary' %>
  </div>
<% end %>
<br>

<div>
  <%= link_to t('attributes.back_to_data_provider'), owner_path(@dataset.owner_id) %>
</div>

