<h1><%= t('.new_dataset_for', name: @owner.name) %></h1>

<%= simple_form_for(@dataset, url: @url, data: { turbo: false }) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <p><%= t('.select_layer') %></p>

  <div class="row">
    <div class="col-6 col-md-8 col-sm-12">
      <div class="form-inputs">
        <%= f.input :name, as: :string %>
        <div class='mb-1'>Service Authentication:</div>
        <p><%= f.object&.service_authentication_configuration&.name || 'None' %></p>
        <%= f.hidden_field :credential_id %>
        <div class='mb-1'><%= t('.source_dataset_label') %>:</div>
        <%= f.hidden_field :source_dataset %>
        <p><%= f.object.source_dataset %></p>
        <% if @layers.any? %>
          <% if f.object.layer_name.present? %>
            <div class='mb-1'><%= t('.layer_name_label') %>:</div>
            <%= f.hidden_field :layer_name %>
            <p><%= f.object.layer_name %></p>
          <% else %>
            <%= f.input :layer_name, collection: @layers %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t('.submit'), class: 'btn btn-primary' %>
  </div>
<% end %>
<br>

<div>
  <%= link_to t('attributes.back_to_data_provider'), owner_path(@dataset.owner_id) %>
</div>

