<h1><%= t('.new_dataset_for', name: @owner.name) %></h1>

<%= simple_form_for(@dataset, url: @url, data: { turbo: false }) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <p><%= t('.step1_instructions_html', link: link_to(t('.basic_dataset_entry'), new_owner_dataset_path(@owner))).html_safe %></p>

  <div class="row">
    <div class="col-6 col-md-8 col-sm-12">
      <div class="form-inputs">
        <%= f.input :name, as: :string %>
          <%= f.input :source_dataset, as: :string,
            hint: t('.source_dataset_hint') %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t('.submit'), class: 'btn btn-primary' %>
  </div>
<% end %>

<br>

<div>
  <%= link_to t('attributes.back_to_data_provider'), owner_path(@dataset.owner_id) %>
</div>

