<h1><%= t('.users_title', name: @owner.name) %></h1>

<div class="pt-3">
  <h2><%= t('.users') %></h2>
  <p><%= t('.users_explanation') %></p>

  <% if @owner.users.any? %>
    <table class="table">
      <thead>
        <tr>
          <th><%= t('.email_address') %></th>
          <th><%= t('.actions') %></th>
        </tr>
      </thead>
      <tbody>
        <% @owner.users.each do |user| %>
          <tr>
            <td>
              <%= user.email_address %>
            </td>
            <td>
              <% if policy(user).edit? %>
                <%= edit_link t('.edit'), edit_owner_user_path(@owner, user) %>
                <%= delete_link t('.delete'), [@owner, user], t('.delete_confirmation') %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p><%= t('.no_users') %></p>
  <% end %>

  <% if policy(User).create? %>
    <%= new_user_link t('.new'), new_owner_user_path(@owner) %>
  <% end %>
  <br>
  <%= link_to t('attributes.back_to_data_providers'), owners_path %>
</div>

