<h1><%= @owner.name %> User</h1>

<%= render @user %>

<div>
  <%= link_to "Edit this user", edit_owner_user_path(@owner, @user) %> |
  <%= link_to "Back to data provider", owner_path(@owner) %>

  <%= button_to "Destroy this user", [@owner, @user],
    method: :delete, class: 'btn btn-outline-danger btn-sm' %>
</div>
