<h1>Feature statuses</h1>
<div id="feature_status">
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @feature_statuses.each do |feature_status| %>
        <tr>
          <td><%= feature_status.id %></td>
          <td><%= feature_status.status %></td>
          <td>
            <%= edit_link('Edit', edit_feature_status_path(feature_status)) %>
            &nbsp;
            <%= delete_link('Delete', feature_status, "Delete feature status?") %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<%= new_link "New feature status", new_feature_status_path %>
