<h1><%= t('.feature_statuses') %></h1>
<div id="feature_status">
  <table class="table">
    <thead>
      <tr>
        <th><%= t('attributes.id') %></th>
        <th><%= t('feature_statuses.name') %></th>
        <th><%= t('attributes.action') %></th>
      </tr>
    </thead>
    <tbody>
      <% @feature_statuses.each do |feature_status| %>
        <tr>
          <td><%= feature_status.id %></td>
          <td><%= feature_status.name %></td>
          <td>
            <%= edit_link(t('feature_statuses.dedit'), edit_feature_status_path(feature_status)) %>
            &nbsp;
            <%= delete_link(t('feature_statuses.delete'), feature_status, t('feature_statuses.delete_confirmation')) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<%= new_link t('feature_statuses.new_feature_status'), new_feature_status_path %>
