<h1><%= t('.feature_accuracy_classes') %></h1>

<div id="accuracy_classes">
  <table class="table">
    <thead>
      <tr>
        <th><%= t('attributes.id') %></th>
        <th><%= t('attributes.name') %></th>
        <th><%= t('attributes.action') %></th>
      </tr>
    </thead>
    <tbody>
      <% @accuracy_classes.each do |accuracy_class| %>
        <tr>
          <td><%= accuracy_class.id %></td>
          <td><%= accuracy_class.name %></td>
          <td>
            <%= edit_link(t('accuracy_classes.edit'), edit_accuracy_class_path(accuracy_class)) %>
            &nbsp;
            <%= delete_link(t('accuracy_classes.delete'), accuracy_class, t('accuracy_classes.delete_confirmation')) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= new_link t('accuracy_classes.new_accuracy_class'), new_accuracy_class_path %>
