<h1><%= t('.feature_classes') %></h1>
<div id="feature_class">
  <table class="table">
    <thead>
      <tr>
        <th><%= t('attributes.id') %></th>
        <th><%= t('feature_classes.code') %></th>
        <th><%= t('attributes.name') %></th>
        <th><%= t('feature_classes.color_mapserv') %></th>
        <th><%= t('feature_classes.color_hex') %></th>
        <th><%= t('attributes.action') %></th>
      </tr>
    </thead>
    <tbody>
      <% @feature_classes.each do |feature_class| %>
        <tr>
          <td><%= feature_class.id %></td>
          <td><%= feature_class.code %></td>
          <td><%= feature_class.name %></td>
          <td><%= feature_class.color_mapserv %></td>
          <td><%= feature_class.color_hex %></td>
          <td>
            <%= edit_link(t('feature_classes.dedit'), edit_feature_class_path(feature_class)) %>
            &nbsp;
            <%= delete_link(t('feature_classes.delete'), feature_class, t('feature_classes.delete_confirmation')) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= new_link t('feature_classes.new_feature_class'), new_feature_class_path %>

