<!DOCTYPE html>
<html lang="<%= I18n.locale %>" class="h-100">
  <head>
    <title><%= t('application.title') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="d-flex flex-column h-100">
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <%= link_to t('application.fuzionview_admin'), root_path, class: 'navbar-brand' %>
        <% if current_user %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                                     data-bs-target="#navbarSupportedContent"
                                                     aria-controls="navbarSupportedContent"
                                                     aria-expanded="false"
                                                     aria-label="<%= t('application.toggle_navigation') %>">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <% if current_user.administrator? %>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <%= t('application.system_operator_dashboard') %>
                  </a>
                    <ul class="dropdown-menu">
                      <li>
                        <a class="dropdown-item" href="#"><%= t('application.ticket_map') %></a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#"><%= t('application.ticket_list') %></a>
                      </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <%= t('application.system_operator_admin') %>
                  </a>
                    <ul class="dropdown-menu">
                      <li>
                        <%= link_to t('owners.data_providers'), owners_path,
                          class: 'dropdown-item'%>
                      <li>
                        <%= link_to t('owners.new_data_provider'), new_owner_path,
                          class: 'dropdown-item'%>
                      </li>
                      <li>
                        <%= link_to t('application.system_settings'), system_settings_path, class: 'dropdown-item' %>
                      </li>
                    </ul>
                </li>
              <% elsif current_user.data_provider? %>
                <% policy_scope(Owner.order(:name)).each do |owner| %>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <%= owner.name %>
                    </a>
                    <ul class="dropdown-menu">
                      <%= link_to t('datasets.datasets'), owner_path(owner), class: 'dropdown-item' %>
                      <%= link_to t('users.index.users'), owner_users_path(owner), class: 'dropdown-item' %>
                    </ul>
                  </li>
                <% end %>
              <% end  %>
              <li class="nav-item">
                <a class="nav-link" href="/start.html">
                  <%= t('application.system_profile') %>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/docs/" target="_blank">
                  <%= t('application.documentation') %>
                </a>
              </li>
              <li class="nav-item">
                <%= link_to t('application.log_out'), application_logout_path, class: 'nav-link', data: { turbo: false } %>
              </li>
              <%# link_to "Change role (current: #{current_user&.current_role})", application_role_path, class: 'nav-link' %>
          </ul>
        </div>
      <% end %>
      </div>
    </nav>
   <main class="flex-shrink-0">
    <div class="container">
      <div class="m-2">
        <%
            flash.each do |k,m|
          content_class = case k.to_s
                          when 'notice' then 'alert-info'
                          when 'error' then 'alert-danger'
                          end
          content_class = "alert #{content_class}"
        %>
      <br>
      <% if !m.nil? %>
        <div class="alert alert-block <%=content_class%> alert-dismissible" role="alert">
          <div></div>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
          <%= m %>
        </div>
      <% end %>
      <%
          flash.delete(k)
        end
      %>
        <%= yield %>
      </div>
    </div>
    </main>

    <footer class="footer mt-auto py-3 bg-light">
      <div class="container">
        <span class="fs-6 text-muted"><%= t('application.version', version: (`git describe --tags --always`.strip rescue '')) %></span>
      </div>
    </footer>
  </body>
</html>
