<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>FuzionView Admin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src=" https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <%= link_to 'FuzionView Admin', root_path, class: 'navbar-brand' %>
        <% if current_user %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                                     data-bs-target="#navbarSupportedContent"
                                                     aria-controls="navbarSupportedContent"
                                                     aria-expanded="false"
                                                     aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <% if current_user.administrator? %>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    System Operator Dashboard
                  </a>
                    <ul class="dropdown-menu">
                      <li>
                        <a class="dropdown-item" href="#">Ticket Map</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">Ticket List</a>
                      </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    System Operator Admin
                  </a>
                    <ul class="dropdown-menu">
                      <li>
                        <%= link_to 'Data Providers', owners_path,
                          class: 'dropdown-item'%>
                      <li>
                        <%= link_to 'New Data Provider', new_owner_path,
                          class: 'dropdown-item'%>
                      </li>
                      <li>
                        <%= link_to 'System Settings', system_settings_path, class: 'dropdown-item' %>
                      </li>
                    </ul>
                </li>
              <% elsif current_user.data_provider? %>
                <% policy_scope(Owner.order(:name)).each do |owner| %>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <%= owner.name %>
                    </a>
                    <ul class="dropdown-menu">
                      <%= link_to 'Datasets', owner_path(owner), class: 'dropdown-item' %>
                      <%= link_to 'Users', owner_users_path(owner), class: 'dropdown-item' %>
                    </ul>
                  </li>
                <% end %>
              <% end  %>
              <li class="nav-item">
                <a class="nav-link" href="https://uumpt.sharedgeo.net/start.html">
                  System Profile
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://uumpt.sharedgeo.net/start.html">
                  Documentation
                </a>
              </li>
              <li class="nav-item">
                <%= link_to 'Log out', application_logout_path, class: 'nav-link', data: { turbo: false } %>
              </li>
              <%# link_to "Change role (current: #{current_user&.current_role})", application_role_path, class: 'nav-link' %>
          </ul>
        </div>
      <% end %>
      </div>
    </nav>
    <div class="container">
      <div class="m-2">
        <%
            flash.each do |k,m|
          content_class = case k.to_s
                          when 'notice' then 'alert-info'
                          when 'error' then 'alert-danger'
                          end
          content_class = "alert #{content_class}"
        %>
      <br>
      <% if !m.nil? %>
        <div class="alert alert-block <%=content_class%> alert-dismissible" role="alert">
          <div></div>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
          <%= m %>
        </div>
      <% end %>
      <%
          flash.delete(k)
        end
      %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
